/* =========================
   TALLES E IMAGEN
========================= */

#talles {
    width: 100%;
    padding: 14px;

    background: #181818;
    color: #ffffff;

    border: 1px solid #333333;
    border-radius: 9px;

    outline: none;
}

#talles:focus {
    border-color: #ffffff;
}


/* =========================
   CAMPO IMAGEN
========================= */

.campo-imagen {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 8px;
}

.campo-imagen input[type="file"] {
    width: 100%;
}

#texto-imagen {
    color: #888888;

    font-size: 12px;
}


/* =========================
   DESTACADO
========================= */

.campo-destacado {
    min-height: 48px;

    display: flex;
    align-items: center;

    gap: 10px;
}


/* =========================
   CANCELAR EDICIÓN
========================= */

#cancelar-edicion {
    background: #181818 !important;
    color: #ffffff !important;

    border: 1px solid #444444 !important;
}

#cancelar-edicion:hover {
    background: #292929 !important;

    opacity: 1 !important;
}


/* =========================
   BOTONES EDITAR / ELIMINAR
========================= */

.producto-admin-botones {
    margin-top: 15px;
}

.producto-admin-botones button:first-child {
    border-color: #666666;
}

.producto-admin-botones button:last-child:hover {
    background: #b00000;
    color: #ffffff;

    border-color: #b00000;
}
